// Vendor dependencies
@import "breakpoint";

// Project dependencies
@import "global/variables";
@import "global/functions";
@import "global/mixins";

.wp-block {
	max-width: $width-wrapper;

	&[data-align="wide"] {
		max-width: $width-wide;
	}

	&[data-align="full"] {
		max-width: none;
	}
}