/**
 * Breakpoint sass with the Respond-To syntax
 *
 * @link https://github.com/at-import/breakpoint/wiki/Respond-To
 */
@include add-breakpoint( "mobile-landscape",  568px );
@include add-breakpoint( "tablet-portrait",   768px );
@include add-breakpoint( "tablet-landscape",  992px );
@include add-breakpoint( "desktop",           1200px );

// Breakpoint config
@include breakpoint-set( "to ems", true );

// Dimensions
$width-tablet-portrait: 750px;
$width-tablet-landscape: 970px;
$width-desktop: 1170px;

$width-wrapper: 768px;
$width-wide: 1000px;

$gutter-size: 20px;
$gutter-size-x2: $gutter-size * 2;
$gutter-size-x4: $gutter-size * 4;

// Fonts
$font-sans: Helvetica, sans-serif;

// Font sizes
$font-size-base: rem( 18 );
$font-size-md:   rem( 24 );
$font-size-lg:   rem( 36 );
$font-size-xl:   rem( 48 );
$font-size-xxl:  rem( 64 );

// Colors
$color-base: #333;
$color-white: #fff;
$color-whiteSmoke: #efefef;
$color-ceSoir: #89609e;

$colors: ( base, $color-base ),
		 ( white, $color-white ),
		 ( whitesmoke, $color-whiteSmoke ),
		 ( cesoir, $color-ceSoir );