.alignwide,
.alignfull {
	width: 100vw;
	max-width: 100vw;
	margin-right: 0;
	margin-left: calc( 50% - 50vw );
}

@include breakpoint( min-width $width-wide ) {
	.alignwide {
		width: $width-wide;
		max-width: $width-wide;
		margin-right: 0;
		margin-left: calc( ( 100% - #{$width-wide} ) / 2 );
	}
}